# 排除配置文件
.env

# 排除生成的文件夹

# Caddy
caddy/config
caddy/data

# 博客
blog/typecho
blog/usr

# 智慧家庭
smart-home/.env
smart-home/logs
smart-home/static
smart-home/web
smart-home/geoip

# 数据库
postgres/pgdata
